.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: darkviolet;
}
#submit {
  background-color: limegreen;
}

.jumbotron {
  margin-top: 50px;
  background-color: snow;
}
.card {
  margin-left: 25px;
  margin-right: 25px;
  background-color: orchid;
}

hr {
  width: 70%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Test {
  background-color: aqua;
  padding: 20px 0px 20px 0px;
}

.headerJumbotron {
  display: table;
  width: 100%;
  height: 65vh;
  background: url(../src/assets/images/Tikomdik_large.jpg) top center;
  background-size: cover;
  margin-bottom: 30px;
}

.headerJumbotron h2 {
  padding-top: 50px;
  padding-left: 30px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}

.headerJumbotron p {
  color: #fff;
  padding-left: 30px;
}

.backgrondBlue {
  background-color: #61dafb;
}

.backgrondGreen {
  background-color: green;
}

.paddingLeft {
  padding-left: 1rem;
}

.marginBottom3 {
  margin-bottom: 3rem;
}

.marginTop3 {
  margin-top: 3rem;
}

.BackgrondAqua {
  background-color: aqua;
}
.BackgrondBiru {
  background-color: darkblue;
}

.BackgrondAbu {
  background-color: darkgray;
}

.gambarLebar100 {
  width: 100%;
}
.textnaTengah {
  text-align: center;
}
.textnaKiri {
  text-align: left;
}
